# Práctica 13-17: 

Elaboró: Carlos Alejandro Jarero Gonzalez <al255813@alumnos.uacj.mx>

Matrícula: 255813

El presente Notebook fue relizado en equipo local con Kernel Python 3.11.8 en VS Code.

## Objetivos

El objetivo de esta actividad es que los estudiantes practiquen los temas vistos de carga de datos, normalización de nombres de columnas, separación y unión de columnas, errores en los tipos de datos. Todo es en un conjunto de datos utilizando Pandas en Python.


## Instrucciones de uso

Este notebook puede extraer datos del archivo ```miaad-nyc-r-s.csv```, para analizar la información presente.

Si quieres cambiar el archivo, o la dirección del mismo, solo ve a la sección de parameters y cambia el ```input_path```.

### Si usas Google Colab

1. Ve a la sección de Files y asegurate de tener habilitado el acceso a tu Google Drive, de lo contrario hablitalo y dale los permisos correspondientes.
2. Si ya has realizado el paso anterior verás en tu notebook la siguiente instrucción de python para montar un volumen en el caso de linux ```/content/drive```, esto puede cambiar en diferentes sistemas operativos.
![Drive Mounting](./assets/DriveMount.png)
3. Asegurate de ejecutar la sección previa, dependidendo si ya has dado o no los permisos en este paso puede que de nuevo te solicite darle permiso. 
4. Ahora verás um directorio llamado drive donde encontarás tu Drive, ahí sube el archvio a procesar.
5. Copia el path absoluto de archivo de ```miaad-nyc-r-s.csv``` en ```input_path```.

## Instrucciones

1. Descarga el archivo CSV, ```miaad-nyc-r-s.csv```, proporcionado en esta tarea. También lo puedes encontrar en recursos.
2. Crea un notebook en colab y guarda el archivo csv descargado en tu drive.
3. Agrega secciones en el colab poniendo como título el nombre de la práctica.

In [101]:
import pandas as pd
# Paramteters
input_path = ".data/miaad-nyc-r-s.csv"

### Práctica 13: Carga de Datos

Al final del archivo contiene una línea que dice "Esta es una línea que no deberías cargar". Esta línea es irrelevante por lo tanto al cargar el CSV a un dataframe se debería de ignorar.

- Carga el archivo a un dataframe usando el código necesario para omitir la última fila.
- Usa ```df.tail(3)``` para demostrar que no has cargado la última línea.
- Imprime la cantidad de filas y columnas del dataframe.

In [102]:
df_original = pd.read_csv(input_path)

df = df_original[:-1]

df.tail(3)

/tmp/ipykernel_611247/950696470.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df_original = pd.read_csv(input_path)

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
84545,8411,5.0,WOODROW,02 TWO FAMILY DWELLINGS,1,7351.0,60.0,,B2,49 PITNEY AVENUE,...,2.0,0.0,2.0,4000,1496,1925.0,1.0,B2,460000,2017-07-05 00:00:00
84546,8412,5.0,WOODROW,22 STORE BUILDINGS,4,7100.0,28.0,,K6,2730 ARTHUR KILL ROAD,...,0.0,7.0,7.0,208033,64117,2001.0,4.0,K6,11693337,2016-12-21 00:00:00
84547,8413,5.0,WOODROW,35 INDOOR PUBLIC AND CULTURAL FACILITIES,4,7105.0,679.0,,P9,155 CLAY PIT ROAD,...,0.0,1.0,1.0,10796,2400,2006.0,4.0,P9,69300,2016-10-27 00:00:00

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84548 entries, 0 to 84547
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      84548 non-null  object
 1   BOROUGH                         84548 non-null  float64
 2   NEIGHBORHOOD                    84548 non-null  object
 3   BUILDING CLASS CATEGORY         84548 non-null  object
 4   TAX CLASS AT PRESENT            84548 non-null  object
 5   BLOCK                           84548 non-null  float64
 6   LOT                             84548 non-null  float64
 7   EASE-MENT                       84548 non-null  object
 8   BUILDING CLASS AT PRESENT       84548 non-null  object
 9   ADDRESS                         84548 non-null  object
 10  APARTMENT NUMBER                84548 non-null  object
 11  ZIP CODE                        84548 non-null  float64
 12  RESIDENTIAL UNITS               84548 non-null  float64
 13  COMMERCIAL UNITS                84548 non-null  float64
 14  TOTAL UNITS                     84548 non-null  float64
 15  LAND SQUARE FEET                84548 non-null  object
 16  GROSS SQUARE FEET               84548 non-null  object
 17  YEAR BUILT                      84548 non-null  float64
 18  TAX CLASS AT TIME OF SALE       84548 non-null  float64
 19  BUILDING CLASS AT TIME OF SALE  84548 non-null  object
 20  SALE PRICE                      84548 non-null  object
 21  SALE DATE                       84548 non-null  object
dtypes: float64(9), object(13)
memory usage: 14.2+ MB

### Práctica 14: Agregar una columna

- Imprime los nombres de la columnas del archivo.
- Asegúrate que el nombre de la primera columna debería ser INDEX MIIAD. Si esto no es así, entonces agrega dicho nombre a la columna y vuelve a imprimir los nombres para mostrar el cambio realizado.

In [104]:
df = df.rename(columns={"Unnamed: 0": "INDEX MIIAD"})

df["New Column"] = None

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84548 entries, 0 to 84547
Data columns (total 23 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   INDEX MIIAD                     84548 non-null  object
 1   BOROUGH                         84548 non-null  float64
 2   NEIGHBORHOOD                    84548 non-null  object
 3   BUILDING CLASS CATEGORY         84548 non-null  object
 4   TAX CLASS AT PRESENT            84548 non-null  object
 5   BLOCK                           84548 non-null  float64
 6   LOT                             84548 non-null  float64
 7   EASE-MENT                       84548 non-null  object
 8   BUILDING CLASS AT PRESENT       84548 non-null  object
 9   ADDRESS                         84548 non-null  object
 10  APARTMENT NUMBER                84548 non-null  object
 11  ZIP CODE                        84548 non-null  float64
 12  RESIDENTIAL UNITS               84548 non-null  float64
 13  COMMERCIAL UNITS                84548 non-null  float64
 14  TOTAL UNITS                     84548 non-null  float64
 15  LAND SQUARE FEET                84548 non-null  object
 16  GROSS SQUARE FEET               84548 non-null  object
 17  YEAR BUILT                      84548 non-null  float64
 18  TAX CLASS AT TIME OF SALE       84548 non-null  float64
 19  BUILDING CLASS AT TIME OF SALE  84548 non-null  object
 20  SALE PRICE                      84548 non-null  object
 21  SALE DATE                       84548 non-null  object
 22  New Column                      0 non-null      object
dtypes: float64(9), object(14)
memory usage: 14.8+ MB

### Práctica 15: Normalización de los nombres de la columna

- Normaliza los nombres de ls columnas, los cuales deberán estar en minúsculas. Asimismo, reemplaza los espacios con guion bajo.
- Imprime los nombres de las columnas para demostrar que has realizado la normalización.

In [105]:
df.columns = df.columns.str.lower().str.strip().str.replace(r"\s+","_",regex=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84548 entries, 0 to 84547
Data columns (total 23 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   index_miiad                     84548 non-null  object
 1   borough                         84548 non-null  float64
 2   neighborhood                    84548 non-null  object
 3   building_class_category         84548 non-null  object
 4   tax_class_at_present            84548 non-null  object
 5   block                           84548 non-null  float64
 6   lot                             84548 non-null  float64
 7   ease-ment                       84548 non-null  object
 8   building_class_at_present       84548 non-null  object
 9   address                         84548 non-null  object
 10  apartment_number                84548 non-null  object
 11  zip_code                        84548 non-null  float64
 12  residential_units               84548 non-null  float64
 13  commercial_units                84548 non-null  float64
 14  total_units                     84548 non-null  float64
 15  land_square_feet                84548 non-null  object
 16  gross_square_feet               84548 non-null  object
 17  year_built                      84548 non-null  float64
 18  tax_class_at_time_of_sale       84548 non-null  float64
 19  building_class_at_time_of_sale  84548 non-null  object
 20  sale_price                      84548 non-null  object
 21  sale_date                       84548 non-null  object
 22  new_column                      0 non-null      object
dtypes: float64(9), object(14)
memory usage: 14.8+ MB

### Práctica 16: Errores en los Tipos de Datos

- Imprime los tipos de datos de cada columna.
- Asegúrate que las columnas de SALE PRICE(sale_price), LAND SQUARE FEET (land_square_feet), GROSS SQUARE FEET (gross_square_feet) sean de tipo flotante. Escribe qué tipo de dato tienen asignado. Si no son correctos, realiza el cambio.
- Imprime de nuevo los tipos de datos para demostrar que has arreglado el problema.

In [106]:
df.dtypes

index_miiad                        object
borough                           float64
neighborhood                       object
building_class_category            object
tax_class_at_present               object
block                             float64
lot                               float64
ease-ment                          object
building_class_at_present          object
address                            object
apartment_number                   object
zip_code                          float64
residential_units                 float64
commercial_units                  float64
total_units                       float64
land_square_feet                   object
gross_square_feet                  object
year_built                        float64
tax_class_at_time_of_sale         float64
building_class_at_time_of_sale     object
sale_price                         object
sale_date                          object
new_column                         object
dtype: object

In [107]:
df["sale_price"] = pd.to_numeric(df["sale_price"], errors="coerce")
df["land_square_feet"] = pd.to_numeric(df["land_square_feet"], errors="coerce")
df["gross_square_feet"] = pd.to_numeric(df["gross_square_feet"], errors="coerce")

df.dtypes

index_miiad                        object
borough                           float64
neighborhood                       object
building_class_category            object
tax_class_at_present               object
block                             float64
lot                               float64
ease-ment                          object
building_class_at_present          object
address                            object
apartment_number                   object
zip_code                          float64
residential_units                 float64
commercial_units                  float64
total_units                       float64
land_square_feet                  float64
gross_square_feet                 float64
year_built                        float64
tax_class_at_time_of_sale         float64
building_class_at_time_of_sale     object
sale_price                        float64
sale_date                          object
new_column                         object
dtype: object

### Práctica 17: Genera el diccionario de datos del dataframe preprocesado. Imprime el contenido de dicho diccionario

In [108]:
print("Diccionario de datos:", df.dtypes)

Diccionario de datos: index_miiad                        object
borough                           float64
neighborhood                       object
building_class_category            object
tax_class_at_present               object
block                             float64
lot                               float64
ease-ment                          object
building_class_at_present          object
address                            object
apartment_number                   object
zip_code                          float64
residential_units                 float64
commercial_units                  float64
total_units                       float64
land_square_feet                  float64
gross_square_feet                 float64
year_built                        float64
tax_class_at_time_of_sale         float64
building_class_at_time_of_sale     object
sale_price                        float64
sale_date                          object
new_column                         object
dtype: object